@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Days One', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #34fb58;
  background-image: linear-gradient(315deg, #0852ffa7 0%, #00ffe1df 74%);
}

.wrapper {
  width: 26rem;
  height: 35rem;
  padding: 4rem;
  border-radius: 2rem;
  background-color: #b89a7ef9;
}

.screen {
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 10px;
  background-color: #4357692d;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}

.buttonCont {
  width: 100%;
  height: calc(100% - 110px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
}

button {
  border: none;
  background-color: rgb(255, 177, 22);
  font-size: 24px;
  color: rgb(11, 11, 11);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

button:hover {
  background-color: rgba(43, 184, 177, 0.715);
}

.equals {
  background-color: rgb(157, 255, 235);
}

.equals:hover {
  background-color:  rgba(43, 184, 177, 0.715);
}

.title{
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.898);
}
